<div class="panel-heading">
  Split a bill!
</div>

<form id="new-bill-form">
  <table class="table">
    <tr><th class="col-sm-8">For</th><th class="col-sm-4">I paid</th></tr>
    <tr>
      <td>
        <div class="input-group" style="width:100%">
          <input type="text"
                 id="bill_description"
                 name="bill[description]"
                 class="form-control bill-root"
                 placeholder="Dinner"
                 tabindex="1">
        </div>
      </td>
      <td>
        <div class="input-group">
          <div id="currency-dropdown" class="input-group-btn">
            <button type="button" id="currency-select-btn" class="btn btn-default dropdown-toggle currency-selection">$ <i class="fa fa-caret-down"></i></button>
            <ul class="dropdown-menu" id="currency-dropdown-ul">
              <li><input type="text" class="form-control" id="currency-search-field" name="bill[orig_currency_code]" placeholder="currency"></li>
            </ul>
          </div>  
          <input type="text"
                 id="bill_total"
                 name="bill[decimal_total]"
                 class="form-control bill-root currency-input"
                 placeholder="20.00"
                 tabindex="2"><br>
        </div>
      </td>
    </tr>
  </table>
  <div id="bs-div">
    <table class="table" id="bill-splits">
      <tr><th class="col-sm-8">With</th><th class="col-sm-4">They owe</th></tr>
      <tr id="bill-form-buttons">
        <td colspan="2">
          <input type="button"
                 class="btn btn-info pull-left"
                 id="add-split"
                 value="Add another person"
                 tabindex="100">

          <input type="submit"
                 class="btn btn-primary pull-right"
                 value="Split it!"
                 id="bill-submit-btn"
                 tabindex="101">
        </td>
      </tr>
    </table>
  </div>
</form>