<div class="panel-heading">
  Split a bill!
</div>

<form id="new-bill-form">
  <table class="table">
    <tr><th class="col-sm-8">For</th><th class="col-sm-4">Total</th></tr>
    <tr>
      <td>
        <div class="input-group" style="width:100%">
          <input type="text"
                 id="bill_description"
                 name="bill[description]"
                 class="form-control"
                 placeholder="Dinner">
        </div>
      </td>
      <td>
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <input type="text"
                 id="bill_total"
                 name="bill[decimal_total]"
                 class="form-control"
                 placeholder="20.00"><br>
        </div>
      </td>
    </tr>
  </table>
  <div id="bs-div">
  <table class="table" id="bill-splits">
    <tr><th class="col-sm-8">With</th><th class="col-sm-4">Amount</th></tr>
    <tr id="bill-form-buttons">
      <td colspan="2">
        <input type="button"
               class="btn btn-info pull-left"
               id="add-split"
               value="Add a split">

        <input type="submit"
               class="btn btn-primary pull-right"
               value="Split it!">
      </td>
    </tr>
  </table>
  </div>
</form>