<div class="panel-heading">Your groups</div>
<div class="panel-body">
  <ul>
    <% _.each(groups, function (group) { %>
      <li><a href="#/groups/<%= group.id %>"><%= escape(group.name) %></a></li>
    <% }) %>
  </ul>
</div>