<div class="panel-heading">Your groups</div>
<div class="list-group">
  <% _.each(groups, function (group) { %>
    <a href="#/groups/<%= group.id %>" class="list-group-item"><%= escape(group.name) %></a>
  <% }) %>
</div>